# Unity generated folders
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/

# Visual Studio / Rider cache
.vs/
.vsconfig
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.idea/

# OS files
.DS_Store

# Unity crash reports
sysinfo.txt
*.stackdump

# Builds
*.apk
*.aab
*.unitypackage
*.app
